workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1936,
        720
      ],
      "id": "031098b8-90eb-4e65-b1db-cb5d659ae2fb",
      "name": "When chat message received",
      "webhookId": "REDACTED"
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "vectorn8n",
          "mode": "list",
          "cachedResultName": "vectorn8n"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2720,
        64
      ],
      "id": "0841074b-c1cc-4ac9-a8f2-0463b3e2f4fb",
      "name": "Supabase Vector Store",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2240,
        1280
      ],
      "id": "cad6fd48-2a79-4ebb-9d55-951e103e296c",
      "name": "Embeddings Google Gemini",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "vectorn8n",
          "mode": "list",
          "cachedResultName": "vectorn8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2720,
        -368
      ],
      "id": "4aea81ae-1407-4222-895a-c2e986eaed32",
      "name": "Supabase Vector Store1",
      "credentials": {}
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File",
                "value": "={{ $json['Upload files'][0].filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2864,
        960
      ],
      "id": "26617c03-f48f-4ca2-bb88-35bd29cb4d9c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Qubit, a friendly and helpful AI assistant.\nUse both your general knowledge and referenced documents to answer questions.\n\nGuidelines:\n\nKeep answers short and clear (1–4 sentences).\n\nUse lists or bullet points when useful.\n\nBe friendly, professional, and engaging.\n\nIf you don’t know or can’t find the info, reply exactly: “I don’t know.”\n\nHighlight key terms with bold if it helps clarity."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1712,
        720
      ],
      "id": "2ef98449-175b-4909-bf3a-f3d58fad6f4d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1840,
        912
      ],
      "id": "7e3fd3ed-944c-4d65-b6e7-5c4265e48504",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1664,
        928
      ],
      "id": "3f3c4011-7998-4aba-93b5-2ff738414343",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this as context to answer user queries.",
        "tableName": {
          "__rl": true,
          "value": "vectorn8n",
          "mode": "list",
          "cachedResultName": "vectorn8n"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2720,
        -144
      ],
      "id": "2d3e1a80-9c78-4005-b35b-ee6cab786a0d",
      "name": "Supabase Vector Store2",
      "credentials": {},
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -2880,
        720
      ],
      "id": "167e20f7-3ea0-479e-b4a7-de4d6cb6fc64",
      "name": "Pinecone Vector Store",
      "credentials": {}
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "list",
          "cachedResultName": "REDACTED",
          "cachedResultUrl": "REDACTED"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -3312,
        720
      ],
      "id": "64210ac3-182b-4587-993d-5baa54529181",
      "name": "Google Drive Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3104,
        720
      ],
      "id": "d11092e3-624b-4e56-8128-961fdfebd8ec",
      "name": "Download file",
      "credentials": {}
    },
    {
      "parameters": {
        "content": "# Upload Documents to vector store automatically",
        "height": 816,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3488,
        608
      ],
      "typeVersion": 1,
      "id": "db550065-bcce-4cb4-be10-4e9565b5f8fb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1632,
        1104
      ],
      "id": "65b296d0-70f8-47e0-9d4e-7ba4a4e2a563",
      "name": "Retrieve Vectors",
      "credentials": {}
    },
    {
      "parameters": {
        "description": "The data is about illusionai website, pdf"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1440,
        896
      ],
      "id": "faafa242-843a-49fd-ab62-cbf9d34ab77c",
      "name": "Vector to Text"
    },
    {
      "parameters": {
        "content": "# Upload Documents to vector store automatically",
        "height": 816,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2208,
        608
      ],
      "typeVersion": 1,
      "id": "29d396a9-4d04-42be-aa75-7b66abca214e",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieve Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Vector to Text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Vectors": {
      "ai_tool": [
        []
      ],
      "ai_vectorStore": [
        [
          {
            "node": "Vector to Text",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector to Text": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED"
  }
}
